{% extends "layout.html" %}
{% block content %}

<section id="advanced-search">
	<div class="container">
	<h1>Supersök</h1>
	<div class="intro">Vill du söka projekt på hemsidan efter flera parametrar, använd sökformuläret nedan.</div>
	<div id="advanced_searchform">
		<form method="POST" action="search"> 
		  <p><b>Sök efter:</b> <input name="key" type="text" placeholder="Valfritt sökord"/></p><br/>
		  <h4>Välj fält du vill söka i:</h4>
		  <div class="description">Ange i vilka fält ska sökningen göras. Om du inte väljer någon fält så kommer sökfunktionen att leta i alla projekt. </div>
		  <div class="fancy-checkboxes">
		  <div class="checkbox-row">
		  {% for field in data[0] %}
		  		<span class="checkbox"><input name="search_field" value="{{ field }}" type="checkbox"/><label>{{ field|replace("_", " ")|title }}</label></span>
		  		{% if loop.index is divisibleby 3 %}</div><div class="checkbox-row">
		  		{% else %}
		  		{% endif %}
		  		{% if loop.last %}</div>
		  		{% else %}
		  		{% endif %}
		  {% endfor %}
		  
		  </div>
		  
		  
		  <h4>Välj teknologi:</h4>
		  <div class="description">Ange vilka teknologier måste ha använts i projektet. Om du inte anger någon teknologi, så kommer sökfunktionen att leta i alla projekt.</div>
		  <div class="fancy-checkboxes">
		  {% for tech in techs %}
		  	<input name="techfield" value="{{ tech }}" type="checkbox"/><label>{{ tech|title }}</label>
		  {% endfor %}</p>
		  
		  </div>
		  
		  <h4>Sortera resultat efter fält:</h4> 
		  <div class="description">Ange namn av fält du vill sortera sökresultat efter. Om du inte anger något fält, kommer sökresultat sorteras i ordning av projektets startdatum. </div>
		  <div class="fancy-checkboxes">
		  <div class="checkbox-row">
		  {% for field in data[0] %}
		  		<span class="checkbox"><input name="sort_field" value="{{ field }}" type="radio"/><label>{{ field|replace("_", " ")|title }}</label></span>
		  		{% if loop.index is divisibleby 3 %}</div><div class="checkbox-row">
		  		{% else %}
		  		{% endif %}
		  		{% if loop.last %}</div>
		  		{% else %}
		  		{% endif %}
		  {% endfor %}
		  </div>
		  
		  <h4>Sorteringsordning:</h4> 
		  <input name="sort" type="radio" value="asc"/><label>stigande</label>
		  <input name="sort" type="radio" value="desc" checked/><label>fallande</label>
		  <div class="button-centered"><input type="submit" value="Sök" /></div>
		  </form>
	</div>
		
	</div>
</section> 
     
{% endblock %} 
