{% extends "layout.html" %}
{% block content %}

<section id="project-list">
	<div class="container">
	
	<h1>Du sökte efter {{ term }}</h1>
	<div class="search-parameters">
	<b>I fält:</b> {{  fields|replace("['", "")|replace("']", "")|replace("_", " ")|replace("[]", "alla")|title }} <br/>
	<b>Med teknologi:</b> {{ techs|default('alla')|replace("['", "")|replace("']", "")|replace("[]", "alla")|title }} <br/>
	<b>Sortera resultat efter fält:</b> {{ sortby|default('Project no')|replace("_", " ")|title }}<br/>
	<b>Sorteringsordning:</b> {{ sort|default('desc')|title }} 
	</div>
	
	{% if data %}

	<div class="intro">Vi hittade {{ count }} projekt enligt din förfrågan</div>
		
	{% for project in data %}
		<div class="row">
    		<div class="span4">
				<a href="#">
				<div class="project-thumbnail">
				<a href="/project/{{ project.project_no }}"><img src="{{ url_for('static', filename=project.small_image) }}" alt="sillypic"/></a>
				</div>
				</a>
			</div>
			<div class="span8">
				<a href="/project/{{ project.project_no }}"><h3>{{ project.project_name }}</h3></a>
				<p>{{ project['short_description'] }}</p>
				<p><b>Teknologi: </b>{% for tech in project.techniques_used %}{% if loop.last %} {{ tech|title }} {% else %} {{ tech|title }}, {% endif %} {% endfor %} </p>
				<div class="description"><b>Kurs: </b>{{ project['course_id'] }} {{ project['course_name'] }}</div>
			</div>
	</div>
	
	{% endfor %}
	
	{% else %}
	
		<h2>Tyvärr!</h2>
	<div class="intro">Vi hittade inga resultat som motsvarar din förfrågan</div>
	
{% endif %}

	</div>
</section> 
     
{% endblock %} 