{% extends "layout.html" %}
{% block content %}

<section id="tech-list">
	<div class="container">
	
	<h1>Wut Python?</h1>
	<div class="intro">Varje dag blir vi lite bättre på att använda olika språk och platformer för att lösa problem. Nedan hittar du alla teknologier vi har använt i våra projekt.</div>
	
	{% for tech in techs %}
		<h4>{{ tech }}</h4>
		{% for value in techs[tech] %}
		<p><a href="project/{{value.id}}">{{ value.id }}. {{ value.name }}</a></p>
		{% endfor %}
		{% endfor %}

	</div>
</section> 
     
{% endblock %} 